{% extends 'exam/adminbase.html' %}
{% block content %}
{%load static%}
    <!--== BODY INNER CONTAINER ==-->
    <div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="{% url 'admin-dashboard' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre"><a href="#"> Students Section / Edit Students</a>
            </li>
            <li class="page-back"><a href="{% url 'admin-dashboard' %}"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
  <div class="sb2-2-3">
      <div class="row">
          <div class="col-md-12">
              <div class="box-inn-sp">
                  <div class="inn-title">
                      <h4>Edit Students Details</h4>
                  </div>
                  <div class="tab-inn">
                      <div class="table-responsive table-desi">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Photo</th>
                                    <th>Class</th>
                                    <th>Email Address</th>
                                    <th>Passwrod Reset</th>
                                    <th>Remove Student</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for t in students %}
                                  <tr>

                                    <td> {{t.get_name}}</td>
                                    <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
                                    <td>{{t.class_id}}</td>
                                    <td>{{t.get_email}}</td>  
                                    <td class="text center">
                                    <a class="btn btn-warning" style="margin-right: 40px;" href="{% url 'reset-student-password' t.id %}"><span class="fa fa-key" style="color: white;"></span></a></td>
                                    <td class='text-center' >
                                    <a class="btn btn-danger" style="margin-right: 40px;" href="{% url 'delete-student' t.id  %}"><span class="fa fa-trash" style="color: white;"></span></a></td>
                                  </tr>
                                {% endfor %}                                            
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}