{% extends 'exam/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
  <!--== breadcrumbs ==-->
  <div class="sb2-2-2">
      <ul>
          <li><a href="{% url 'admin-dashboard' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <li class="active-bre"><a href="#"> Teachers Section / Edit Teacher</a>
          </li>
          <li class="page-back"><a href="{% url 'admin-dashboard' %}"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
          </li>
      </ul>
  </div>

  <!--== User Details ==-->

<div class="sb2-2-3">
  <div class="row">
      <div class="col-md-12">
          <div class="box-inn-sp admin-form">
              <div class="inn-title">
                  <h4>Edit Teacher Informations</h4>
              </div>
              <div class="tab-inn">
                  <form method="post"  autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="row">
                          <div class="input-field col s12">
                            <p style="font-weight: bold;">First Name</p>
                            {% render_field userForm.first_name class="validate"%}
                              <label class="">First name</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                            <p style="font-weight: bold;">Last Name</p>
                              {% render_field userForm.last_name class="validate" %}
                              <label class="">Last name</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                            <p style="font-weight: bold;">Department</p>
                              {% render_field teacherForm.department class="validate" %}
                              <!-- <label class="">Department</label> -->
                          </div>
                      </div>    
                      <div class="row">
                        <p style="font-weight: bold; margin-left: 8px; margin-bottom: 0px; margin-top: 15px;">Phone Number</p>
                          <div class="input-field col s12">
                              <input type="number" value="" class="validate" required>
                              <label class="">Phone number</label>
                          </div>
                      </div>
                      <div class="row">
                            <p style="font-weight: bold; margin-left: 8px; margin-bottom: 0px; margin-top: 10px;">Email Address</p>
                          <div class="input-field col s12">
                              {% render_field teacherForm.email_address class="validate" %}
                              <label class="">Email is</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                              <!-- <input type="text" value="" class="validate">
                              <label>Student id</label> -->
                          </div>
                      </div>
                      <div class="row">
                        <p style="font-weight: bold; margin-left: 8px; margin-bottom: 0px;">Profile Picture</p>
                          <div style="margin:auto 8px;">
                            <div class="file-path-wrapper">
                            {% render_field teacherForm.profile_pic class="form-control" %}
                            </div>
                        </div>
                      </div> 
                      <div class="row">
                          <div class="input-field col s12">
                              <i class="waves-effect waves-light btn-large waves-input-wrapper"><input type="submit" class="waves-button-input"></i>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}


