<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'style/login-style.css' %}" />
    
    <style media="screen">
         body {
            background-image: url("{% static 'image/shelf1.jpg' %}");
            background-size: cover;
          }
        
         .link {
            color: white;
            text-decoration: none;
            background-color: blue;
            padding: 10px;
            border-radius: 30px;
            }
        .box h2{
            border-radius: 30px;
        }

        .link:hover{
            color: orangered;
        }
    </style>
  </head>
  <body>
    <!-- {% include "exam/navbar.html" %} -->
    <div class="container">
        <form class="box" method="post">
            {% csrf_token %}
            <h1 style="font-size: 28px;">Your Password Had been updated successfully</h1>
            <h2 style="font-size: 28px;"> <a href='teacherlogin' class="link"> Login With Your New Password</a></h2>
            <p> </p>
        </form>
    </div>

<!-- for background animation -->
<script>
    window.onload= function() {
        var particles = Particles.init({
	        selector: '.background',
            color: 'orange'
        });
    };
  </script>
  <canvas class="background"></canvas>
  <script src="{% static 'scripts/particles.js-master/dist/particles.min.js' %}"></script>
  </body>
</html>

