<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'style/login-style.css' %}" />

  <style media="screen">
    body {
      background-image: url("{% static 'image/shelf1.jpg' %}");
      background-size: cover;
    }

    .pass {
      -webkit-text-security: disc;
    }
  </style>
</head>

<body>
  {% include "exam/navbar.html" %}
  <div class="container">
    <form class="box" method="post" id="pass_form">
      {% csrf_token %}
      <h1 style="font-size: 28px;">First Login Password Change</h1>
      
      {% render_field new_password.password1|attr:'required:true' class="pass form-control" id="pass1" autocomplete="off" placeholder="New Password" %}
      {% render_field new_password.password|attr:'required:true' class="pass form-control" id="pass2"  autocomplete="off" placeholder="Confirm Password" %}
      <p id="error_msg" style="color: yellow;"></p>
      <input type="submit" name="" value="Update">
      <!-- <p>Forgot your username or password: <a href="{% url 'contact_admin' %}">Contact the Admin</a></p> -->
    </form>
  </div>

  <!-- for background animation -->
  <canvas class="background"></canvas>
  <script src="{% static 'scripts/particles.js-master/dist/particles.min.js' %}"></script>
  <script>
    // Background animation
    window.onload = function () {
      var particles = Particles.init({
        selector: '.background',
        color: 'orange'
      });
    };

    // Validation
    const form = document.getElementById('pass_form')
    const new_password = document.getElementById('pass1')
    const confirm_password = document.getElementById('pass2')

    const error_msg = document.getElementById('error_msg')
    var text1 = /^[a-zA-Z0-9]*$/;
    
    form.addEventListener('submit', (e) => {
        
        if(new_password.value.length < 8){
          e.preventDefault()
          error_msg.innerText="Your password must be at least 8 characters"
        }

        else if(new_password.value.match(text1)) {
            e.preventDefault()
            error_msg.innerText="Your password must contain at least one symbol"
        }
        else if (new_password.value != confirm_password.value){
            e.preventDefault()
            error_msg.innerText="Password didn't match!";
        }
        else{
          return true;
        }
        
    })





    

    
  </script>
</body>

</html>